.footerContainer {
  width: 100%;
  background-color: var(--color-primary);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content:space-around;
}
.footerTop{
  display: flex;
  flex-wrap:wrap ;
}
.brandDetail{
  width: 25%;
}
.brandLogo{
  margin: auto;
}
.brandLogo h1{
font-weight: 900;
}
.forPatients{
  width: 25%;
  text-align: center;
  list-style-position: inside;
}
.forDoctors{
  width: 25%;
  text-align: center;
  list-style-position: inside;
}
.contactUs{
  width: 25%;
}
.footerBottom{
  display: flex;
  justify-content: space-between;
}
.brandIcon{
  margin-right: 20px;
}
.contactUs p{
  margin: 10px 0px;
}
.brandDetail p{
  margin: 10px 0px;
}
@media only screen and (max-width: 820px) {
  .footerTop{
    display: flex;
    flex-wrap:wrap ;
  }
  .forDoctors, .forPatients,.brandDetail, .contactUs{
    width: 100%;
  }
}